
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin slideAnimation {
    animation: fadeSlideIn 1s ease;


}