
$colorsList :  (
    color1:#0E6CFF,
color2:#FF8700,
color3: #4CAF50);


@each $i,$value in $colorsList {

.background-color-#{$i} {

    background-color: $value 
}
}


.button-cont{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content:space-between;

    button {
        &:hover {
            border: 2px solid $whiteCol ;
            @include transform
            
                }
       
        color: $whiteCol;
    border-radius: 20px;
        border: 0;
        width: 80px;
        height: 40px;
    }
   
}
