body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}


$smallFont: 1em;
$normalFont: 2em;
$mediumFont: 3em;
$biggerFont: 5em;



